<div>
    <section class="hero is-fullheight is-light">
        <div class="hero-body">
          <div class="container">
            <div class="box" style="max-width: 400px; margin: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
              <h1 class="title has-text-centered is-uppercase">Talk Tide</h1>
              
              <h4 class="subtitle has-text-centered">Login</h4>

              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div class="field">
                  <label class="label">Username</label>
                  <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="Enter your username" formControlName="username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                  </div>
                  <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="help is-danger">
                    Username is required.
                  </div>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="Enter your password" formControlName="password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="help is-danger">
                    Password is required.
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <button class="button is-primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
                  </div>
                </div>
              </form>
              <div class="field">
                <p>
                  Don't have account one?
                  <a routerLink="/register" class="has-text-primary">Register here</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
</div>