* {
    /* outline: 1px solid limegreen !important; */
}

:root{
    --theme-color: rgb(235, 136, 54);

    --theme-bg:  rgb(202, 202, 255);
    --theme-bg-light: rgb(233, 233, 255);

    --responsive-recipient-height: 6rem;

    --status-away: orange;
    --status-available: green;
    --status-offline: gray;
    --status-busy: red;
}
