
:root{
    --theme-color: rgb(235, 136, 54);

    --theme-bg:  rgb(202, 202, 255);
    --theme-bg-light: rgb(233, 233, 255);

    --responsive-recipient-height: 6.2rem;

    --status-away: orange;
    --status-available: green;
    --status-offline: gray;
    --status-busy: red;
}


.away {
    background-color: var(--status-away);
}

.busy {
    background-color: var(--status-busy);
}

.away {
    background-color: var(--status-away);
}

.available {
    background-color: var(--status-available);
}

.offline {
    background-color: var(--status-offline);
}