.list-headding {
    display: block;
}

@media screen and (max-width: 895px) {
   

    .rec-box {
        height: var(--responsive-recipient-height) !important;
        overflow-y: scroll;
        background: var(--bulma-primary-90);
    }
}

.rec-box {
    height: 90svh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: linear-gradient(0deg, var(--theme-bg-light), white 90%) no-repeat;
}

.recipient-list {
    border-radius: 5px;
    position: relative;
}

.recipient-row {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-between;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.recipient-row:hover {
    background: var(--bulma-primary-80);
}

.profile-pic {
    position: relative;
    margin-right: 0.75rem;
}

.profile-pic img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.status-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.name-preview {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: bold;
}

.preview-message {
    font-size: 0.8rem;
    text-overflow: ellipsis;
}

.new-msg {
    font-size: 0.9rem;
    padding: .2rem;
    width: 18px;
    height: 20px;
    background: var(--status-available);
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.name-responsive {
    display: none;
}