<div>
    <div class="rec-box box">
        <div class="list-headding has-text-white">
            <h5 class="is-size-7 is-uppercase has-text-centered has-text-weight-bold"
                style="color: var(--theme-color);">My Chat History</h5>
        </div>

        <div class="recipient-list">
            <div class="recipient-row card" *ngFor="let member of memberList$ | async"
                (click)="selectRecipient(member)"
                [ngClass]="((selectedRecipient$ | async)?.recipientAuthId === member.recipientAuthId)? 'has-background-primary-20 has-text-white': ''">
                <div class="group">
                    <div class="profile-pic" [title]="member.recipientStatus" style="cursor: pointer;">
                        <img src="assets/profile-pic.png" alt="Profie Pic">
                        <span class="status-icon" [ngClass]="member.recipientStatus"></span>
                    </div>
                    <div class="name-preview">
                        <span class="name">{{ member.fullName }} - {{member.memberId}}</span>
                        <span class="preview-message">{{ member.lastMessage }}</span>
                        <span class="preview-message">{{ member.clientId }}</span>
                    </div>
                </div>
                <!-- <div class="new-msg">
                    <p class="has-text-white">new</p>
                </div> -->
            </div>
        </div>

        <hr>

        <!-- Available User where chat history not yet create -->
        <div class="list-headding has-text-white">
            <h5 class="is-size-7 is-uppercase has-text-centered has-text-weight-bold" style="color: var(--theme-color);"
            *ngIf="(availableUserList$ | async)?.length; else noAvilableUsers">
                Available Users
            </h5>
            <ng-template #noAvilableUsers>
                <div class="px-2 py-2 mt-2 mb-2 has-text-centered is-size-7 is-uppercase has-text-warning has-text-weight-bold">No Available users</div>  
            </ng-template>

        </div>

        <div class="recipient-list" style="cursor: pointer;">
            <div class="recipient-row card" *ngFor="let avilableUser of availableUserList$ | async"
                (click)="createChatHistory(avilableUser)">
                <div class="group">
                    <div class="profile-pic" [title]="avilableUser.userStatus" style="cursor: pointer;">
                        <img src="assets/profile-pic.png" alt="Profie Pic">
                        <span class="status-icon" [ngClass]="avilableUser.userStatus"></span>
                    </div>
                    <div class="name-preview">
                        <span class="name">{{ avilableUser.fullName }} - {{avilableUser.authId}}</span>
                        <span class="preview-message">{{ avilableUser.userName }} - {{avilableUser.clientId}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>