<!-- chat-app.component.html -->
<div class="chat-window">
  <!-- Chat Header -->
  <div class="has-text-centered px-3 py-3 card" style="border-bottom: 1px solid var(--theme-color);">
    <h5 class="title is-5 has-text-dark profile-name" *ngIf="selectedRecipient.recipientFullName; else noUserSelected">
      <span>
        <img src="assets/profile-pic.png" class="mr-2 ml-2" alt="profile" style="height: 28px; width: auto;">
      </span>
      {{ (selectedRecipient$ | async)?.recipientFullName }}  
    </h5>
    <ng-template #noUserSelected>
      <h5 class="title is-5 has-text-dark">No recipient selected</h5>
    </ng-template>
  </div>

  <section class="hero has-text-centered" *ngIf="(selectedRecipient$ | async) === null; else myChatbox">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-size-3 has-text-danger is-uppercase">Talk Tide</h1>

        <h2 class="subtitle is-size-5">Your personal messages are appeared here</h2>

        <span class="tag is-success is-light is-medium">Web chat</span>

      </div>
    </div>
  </section>
  <!-- Chat Body -->
  <ng-template #myChatbox>

    <div class="hero has-text-centered" *ngIf="(chatHistoryList$ | async)?.length === 0">
      <span class="tag is-success is-light is-medium">No Conversation yet</span>
    </div>

    <div class="chat-body" #chatBoxArea>
      <!-- Loop through messages -->

      <div *ngFor="let chat of chatHistoryList$ | async" class="chat-message"
        [ngClass]="(chat.senderId === loggedInUser?.authId) ? 'right': 'left'">

        <img src="assets/profile-pic.png" class="mr-2 ml-2" alt="profile" style="height: 24px; width: auto;">

        <div class="content chat-shape"
          [ngClass]="{'has-background-primary has-text-dark': chat.senderId == loggedInUser?.authId}">
          
          <div class="bar">
            <button class="button is-small is-text" (click)="clickReplayMessage(chat.content, chat.msgId)">
              <span class="icon pr-1" title="Replay">
                <i class="fas fa-reply"></i>
              </span>
            </button>
            <time>{{ chat.msgTime }}</time>
          </div>
          
          <!-- If preview is there -->
          <div class="preview-msg px-1 py-1" *ngIf="chat.hasPreview">
            <div class="is-size-6 has-text-primary-20 has-text-weight-bold">{{chat.replayedBy}}</div>
            <div class="has-text-dark">{{chat.previewContent}}</div>
          </div>
          <p>
            <span>{{ chat.content }}</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Preview of the reply message -->
    <div class="box" *ngIf="showPreviewMessage">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <span><strong>Replying to: </strong> {{replayingToPreviewMsg}}</span>
            </p>
          </div>
        </div>
        <div class="media-right">
          <button class="delete" (click)="closePreview()"></button>
        </div>
      </article>
    </div>

    <!-- Chat Footer -->
    <div class="bottom-control">
      <div class="control mx-2 my-2 pl-2 pr-2">

        <textarea rows="1" [formControl]="inputTextBox" name="input-chat" id="input-chat"
          class="textarea has-fixed-size" [ngClass]="(inputTextInValid)? 'has-err': ''"
          placeholder="Type your message here . . ."></textarea>
      </div>
      <!-- <input type="text" class="input mx-2 my-2" role="text" placeholder="Enter your message here. . ." /> -->
      <p class="buttons">
        <button class="button has-text-white mx-2 my-2 pl-2 pr-2" style=" background: var(--theme-color);"
          (click)="sendMessage()">
          <span class="icon is-small">
            <i class="fas fa-paper-plane"></i>
          </span>
          <span>Send</span>
        </button>
      </p>
    </div>
  </ng-template>

</div>