<section class="hero is-fullheight is-light">
  <div class="hero-body">
    <div class="container">
      <div class="box" style="max-width: 500px; margin: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        <h1 class="title is-uppercase has-text-centered">Talk Tide</h1>
        <h3 class="subtitle has-text-centered mt-4">Register</h3>
        <div class="is-divider" data-content="OR"></div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <label class="label">Username <span class="has-text-danger">*</span></label>
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Enter your username" formControlName="username"
                (ngModelChange)="checkUserName($event)">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <div
              *ngIf="registerForm.get('username')?.errors?.['invalidUsername'] && registerForm.get('username')?.touched"
              class="help is-danger">
              Username can only contain small letters, numbers, underscores, and hyphens.
            </div>
            <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched"
              class="help is-danger">
              Username is required.
            </div>
            <div [ngClass]="userAvailable ? 'has-text-success' : 'has-text-danger'">{{userAvailableResponse}}</div>
          </div>

          <div class="field">
            <label class="label">First Name <span class="has-text-danger">*</span></label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter your first name" formControlName="firstName">
            </div>
            <div *ngIf="registerForm.get('firstName')?.errors?.['required'] && registerForm.get('firstName')?.touched"
              class="help is-danger">
              First Name is required.
            </div>
            <div
              *ngIf="registerForm.get('firstName')?.errors?.['pattern']"
              class="help is-danger">
              No special chars are allwoed
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Enter your last name" formControlName="lastName">
            </div>
            <div
              *ngIf="registerForm.get('lastName')?.errors?.['pattern']"
              class="help is-danger">
              No special chars are allwoed
            </div>
          </div>
          <div class="field">
            <label class="label">Password <span class="has-text-danger">*</span></label>
            <div class="control">
              <input class="input" placeholder="Enter your password" formControlName="password">
            </div>
            <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
              class="help is-danger">
              <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
              <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Minimum length is 6.</div>
              <div *ngIf="registerForm.get('password')?.errors?.['weakPassword']">At least one number is required.</div>
            </div>
          </div>
          <div class="field">
            <label class="label">Re-enter Password <span class="has-text-danger">*</span></label>
            <div class="control">
              <input class="input" type="password" placeholder="Re-enter your password"
                formControlName="confirmPassword">
            </div>
            <div *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
              class="help is-danger">
              <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Confirmation password is required.
              </div>
              <div *ngIf="registerForm.get('confirmPassword')?.errors?.['matchingPasswords']">Passwords do not match.
              </div>
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <div class="field">
                <div class="control">
                  <p class="buttons">
                    <button class="button is-primary" type="submit" [disabled]="registerForm.invalid">Register
                      <span class="icons is-small"><i class="fas paper-plane"></i></span>
                    </button>
                  </p>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="filed" *ngIf="registerSuccess">
                <h4 class="is-h4 has-text-success has-text-centered">Registered successfully</h4>
              </div>
            </div>
          </div>


        </form>
        <div class="field mt-4">
          <p>
            Already have an account?
            <a routerLink="/login" class="has-text-primary">Login here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>